.icons{

    display: flex;
    height: 10%;
    width: 100%;
    font-weight: bold;
    justify-content: space-between;
    
}

img{

    width: 10%;
}

.iconDescription{

    width: 90%;
  
}

.notification{

    color: grey;
}
