<div class="icons"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications" class="notification"></mat-icon><div class="iconDescription">Notification<hr></div></div>
<div class="icons"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="security" class="notification"></mat-icon><div  class="iconDescription">Security<hr></div></div>

<div class="icons"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="theme" class="notification"></mat-icon><div class="iconDescription">Theme<hr></div></div>
<div class="icons"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat wallpaper" class="notification"></mat-icon><div class="iconDescription">Chat Wallpaper<hr></div></div>
<div class="icons"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="blocked" class="notification"></mat-icon><div class="iconDescription">Blocked<hr></div></div>
<div class="icons"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="desktop settings" class="notification"></mat-icon><div class="iconDescription">Desktop Settings<hr></div></div>
<div class="icons"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard shortcuts" class="notification"></mat-icon><div class="iconDescription">Keyboard Settings<hr></div></div>
<div class="icons"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="help" class="notification"></mat-icon><div class="iconDescription">Help</div></div>





