<div class="icons"><img src="" alt="icon1"><div class="iconDescription">Notification<hr></div></div>
<div class="icons"><img src="" alt="icon1"><div  class="iconDescription">Security<hr></div></div>
<div class="icons"><img src="" alt="icon1"><div  class="iconDescription">Theme<hr></div></div>

<div class="icons"><img src="" alt="icon1"><div  class="iconDescription">Chat Wallpaper<hr></div></div>
<div class="icons"><img src="" alt="icon1"><div  class="iconDescription">Blocked<hr></div></div>
<div class="icons"><img src="" alt="icon1"><div  class="iconDescription">Desltop settings<hr></div></div>
<div class="icons"><img src="" alt="icon1"><div  class="iconDescription">Keyboards Shortcuts<hr></div></div>
<div class="icons"><img src="" alt="icon1"><div  class="iconDescription">help</div></div>
