img{

    width: 20%;
    height: 45%;
    border-radius: 50%;
    display: block;
    margin: 0;
}

.name{

font-size: 1.2em;
font-weight: bold;
font-family: sans-serif;
}

.slogan{

    font-family: sans-serif;
    font-size: .8em;
}