app-toolbar{

    height: 5%;
    background-color: rgb(236, 234, 234);
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    align-items: center;

}

app-text-area{

    height: 8%;
    background-color: rgb(236, 234, 234);
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    align-items: center;

}

app-body{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
    height: 93%;
}

